
# Created by https://www.toptal.com/developers/gitignore/api/c
# Edit at https://www.toptal.com/developers/gitignore?templates=c

### C ###
# Prerequisites
*.d
bunedu.c
plus_count.c
output.txt
helper*
testClient.c
testServer.c
extra_helper.c
dummy*
tclnt
tsvr
clientX
serverY
serverZ

servers*
*.log
program*
*.zip
*.png
*.xml
*.json
*.gz
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#tex files
*.tex
*.aux
*.bbl
*.bcf
*.blg
# End of https://www.toptal.com/developers/gitignore/api/c

Extra Project/extra_helper.c
Extra Project/testClient.c
Extra Project/testServer.c